/* index.css是用来美化首页的 */
* {
    margin: 0;
    padding: 0;
    /* 內减模式 */
    box-sizing: border-box;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
}

.clearfix:before,.clearfix:after {
    content:"";
    display:table; 
}

.clearfix:after {
    clear:both;
}

body {
    /* background-color: #f3f5f7; */
    background-color: #fff
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    

}

.logo-img{
    width: 300px;
    height: 250px;
    background-color: rgba(0,0,0, 0);
    transition: all 2s;
}

.header{
    height: 42px;
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
}

.header-li ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-li{
    height: 42px;
    margin: 0 auto;
    margin-bottom:15px;
}

.header li:nth-child(n+2) {
    margin-left:28px;
}

.header li a {
    padding: 0 5px;
    height: 42px;
    line-height: 42px;
    font-size:15px;
    color: #050505;
}

.header li a:hover {
    border-bottom: 2px solid #00a4ff;
}

