* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
  }

body {
    background-color: #f7f7f8
}



.pannel {
    /* margin-bottom: 10px; */
    background-color: #fff;
    border-radius:5px; /*圆角 */
}
.goods{
    display: flex;
    padding: 11px 11px 11px 11px;
}

.goods_inner {
    /* margin: 8px; */
}

img {
    width: 100%; /* 为了让图片跟着父级的大小走*/
    vertical-align: middle; /*垂直中间对齐*/
}

.goods .pic{
    /*根据上面设置的img，这里调整pic标签就可以调整image标签了*/
    width: 85px;
    height: 85px;
    padding-right: 10px;
}

.info {
    flex: 5; /*除去其他元素的宽，剩下的宽给这个元素*/
}
.count {
    
    flex: 1; 
    width: 44px;
    height: 44px ;
    background-color: pink;

    text-align: center;  /* 可以让count里的内容水平居中 */
    line-height:44px; /*可以让count里的内容垂直居中 和
                        margin 0 auto相似，
                        argin 0 auto是让其元素本身位于元素水平居中位置*/

    
}
.goods_two h5{
    font-size: 13px;
    color: #262626;
    
}

.other{
    margin-top: 30px;
}
.other div{
    display: flex;
}

.other div p{
    font-size: 13px;
}

.other div:nth-child(2n+1){
    /*均匀排列，第一个在开头，最后一个在末尾*/
    justify-content: space-between; 
}


.other div:nth-child(2n) p{
    margin-left: 30px;
    color: #989898;
}